
/*
Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;

*/

/* INICIAL */
@import url('inicial.css');

/* QUEM SOMOS */
@import url('quem-somos.css');

/* PRODUTOS */
@import url('produtos.css');

/* ORÇAMENTO */
@import url('orcamento.css');

/* SUPORTE */
@import url('suporte.css');

/* IMPORTAÇÃO DE FONTES */
  @font-face {
    font-family: times;
    src: url('font/times-new-roman-14.ttf');
    font-style: normal;
    font-weight: normal;
  }

:root{
	--opensans: 'Open Sans', sans-serif;
	--times: 'times';
	--dourado: #d4b379;
	--dourado-claro: #d2cec2;
	--cinza-claro: #f2f2f2;
	--cinza-titulo: #7b7b7b;
	--cinza-titulo-escuro: #333333;
	--cinza-escuro: #191919;
	--cinza-menu-footer: #808080;
	--cinza-menu: #616161;
	--input-footer: #535353;
}

/* BODY */
body{
	font-family: var(--times);
}
body.stop-scroll{
	overflow-y: hidden;
}
/* BODY */


/* HEADER */
header{

}
header.header-mobile{
	display: none;
}
header.header-mobile .col-sm-9{
	position: unset;
}
header.header-mobile .full-container{
	position: relative;
}
	header .smaller-nav{
		background-color: #000;
		color: #fff;
		padding: 1px 0 6px;
	}
		header .smaller-nav .atendimento{

		}
		header .smaller-nav .atendimento::before{
			background-image: url(../img/bc.svg);
			left: 0;
		}
			header .smaller-nav .atendimento p{

			}
		header .smaller-nav .contato{
			max-width: fit-content;
			margin: 0 0 0 auto;
		}
		header .smaller-nav .contato::before{
			background-image: url(../img/email.svg);
			left: 0;
			width: 15px !important;
		}
			header .smaller-nav .contato p{
				text-align: right;
			}
				header .smaller-nav .contato p small{
					padding: 0 12px;
					font-size: 12px;
				}
			header .smaller-nav .contato a{

			}
		header .smaller-nav .smaller-nav-info{
			position: relative;
			padding: 0 6px 0 24px;
		}
		header .smaller-nav .smaller-nav-info::before{
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			width: 11px;
			height: 11px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
			header .smaller-nav .smaller-nav-info p{
				font-size: 12px;
				color: #fff;
			}
			header .smaller-nav .smaller-nav-info a{
				max-width: 12px;
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
				header .smaller-nav .smaller-nav-info a img{
					width: 100%;
				}
	header .destaque{
		position: relative;
		background-image: url(../img/headerDestaque_1.jpg);
		background-repeat: no-repeat;
		height: 582px;
		background-position: center;
		background-size: cover;
	}
	header .destaque::before{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.65);
	}
		header .logo{
			display: inline-block;
			position: relative;
			margin-top: 25px;
		}
			header .logo figure{
				max-width: 254px;
			}
				header .logo figure img{
					width: 100%;
				}
		header .titulo-destaque{
			position: relative;
			text-align: center;
			padding: 146px 0;
		}
			header .titulo-destaque h1{
				color: var(--dourado);
				padding: 0 0 10px;
			}
			header .titulo-destaque p{
				color: #fff;
				font-size: 18px;
			}
	header .navbar{
		margin: 0;
		border-radius: 0;
		min-height: unset;
		position: unset;
		border: none;
		background-color: var(--cinza-claro);
		padding: 17px 0;
	}
		header .navbar .navbar-toggle{
			background-color: var(--dourado);
			padding: 2px 4px;
			width: 34px;
			position: absolute;
			top: 0;
			right: 15px;
		}
		header .navbar .navbar-toggle:hover{
			background-color: #535353;
		}
			header .navbar .navbar-toggle span..sr-only{
				visibility: hidden;
			}
			header .navbar .navbar-toggle span{
				background-color: #fff;
				width: 100%;
				height: 4px;
				display: block;
				margin: 4px 0;
				border-radius: 20px;
			}
		header .navbar .navbar-header{
			float: unset;
		}
			header .navbar .navbar-header .navbar-collapse{

			}
				header .navbar .navbar-header .navbar-collapse .navbar-nav{
					float: unset;
					text-align: center;
					font-size: 0;
					margin: 0;
				}
					header .navbar .navbar-header .navbar-collapse .navbar-nav li{
						float: unset;
						position: unset;
						display: inline-block;
						padding: 0 8px;
					}
						header .navbar .navbar-header .navbar-collapse .navbar-nav li a{
							padding: 0;
							line-height: unset;
							position: unset;
							display: inline-block;
							font-size: 16px;
							text-transform: uppercase;
							color: var(--cinza-menu);
							-webkit-transition: ease-in-out, .2s;
							-moz-transition: ease-in-out, .2s;
							-ms-transition: ease-in-out, .2s;
							-o-transition: ease-in-out, .2s;
							transition: ease-in-out, .2s;
						}
						header .navbar .navbar-header .navbar-collapse .navbar-nav li a:hover, header .navbar .navbar-header .navbar-collapse .navbar-nav li a:focus{
							background: none;
							color: var(--dourado);
						}
							header .navbar .navbar-header .navbar-collapse .navbar-nav li a img{

							}
/* HEADER */


/* HEADER SECUNDÁRIA */
header .header-secundaria{
	background-image: url(../img/fundo-menu-interna-novo.jpg);
	padding: 44px 0;
	background-position: center;
	background-size: cover;
}
	header .header-secundaria .logo{

	}
		header .header-secundaria .logo figure{

		}
			header .header-secundaria .logo figure img{

			}
	header .header-secundaria .navbar{
		background-color: transparent;
		padding: 22px 0 0;
	}
		header .header-secundaria .navbar .navbar-toggle{

		}
		header .header-secundaria .navbar .navbar-header{

		}
			header .header-secundaria .navbar .navbar-header .navbar-collapse{

			}
				header .header-secundaria .navbar .navbar-header .navbar-collapse .navbar-nav{
					text-align: left;
					padding-left: 7px;
				}
					header .header-secundaria .navbar .navbar-header .navbar-collapse .navbar-nav li{
						padding: 0;
						padding-right: 14px;
					}
					header .header-secundaria .navbar .navbar-header .navbar-collapse .navbar-nav li:nth-child(4){
						display: none;
					}
						header .header-secundaria .navbar .navbar-header .navbar-collapse .navbar-nav li a{
							color: #fff;
						}
							header .header-secundaria .navbar .navbar-header .navbar-collapse .navbar-nav li a img{

							}
/* HEADER SECUNDÁRIA */


/* FOOTER */
footer{
	background-color: #191919;
}
	footer .full-container{
		padding: 30px 15px 30px;
	}
	footer .logo{
		margin-top: 28px;
	}
		footer .logo img{

		}
	footer .menu-footer{

	}
		footer .menu-footer h4{
			color: var(--dourado);
			text-transform: uppercase;
			font-size: 20px;
			margin: 0 0 10px;
		}
		footer .menu-footer nav{

		}
			footer .menu-footer nav a{
				display: block;
				color: var(--cinza-menu-footer);
				font-size: 15px;
				font-family: var(--opensans);
				margin: 0 0 5px;
				text-decoration: none;
				-webkit-transition: ease-in-out, .3s;
				-moz-transition: ease-in-out, .3s;
				-ms-transition: ease-in-out, .3s;
				-o-transition: ease-in-out, .3s;
				transition: ease-in-out, .3s;
			}
			footer .menu-footer nav a:hover{
				color: #fff;
			}
	footer .newsletter{
		max-width: 606px;
		margin: 0 0 0 auto;
	}
		footer .newsletter h4{

		}
		footer .newsletter form{
			text-align: right;
		}
			footer .newsletter form input{
				border-radius: 0;
				background-color: #535353;
				padding: 8px 26px;
				border: 0;
				color: #9b9b9b;
				width: 100%;
				font-family: var(--opensans);
				font-size: 17px;
				outline: none;
			}
			footer .newsletter form input[type="submit"]{
				font-family: var(--times);
				color: #fff !important;
				font-size: 20px;
				text-transform: uppercase;
				display: inline-block;
				width: unset;
				background-color: transparent;
				margin: 40px 0 0;
				padding: 0;
			}
	footer .copyright{
		font-size: 12px;
		background-color: #262626;
		color: #808080;
		text-align: center;
		padding: 7px 0;
	}
		footer .copyright p{
			line-height: initial;
		}
			footer .copyright p a{
				color: #808080;
			}
/* FOOTER */


/* GERAL */
.full-container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.small-container{
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
	padding: 0 15px;
}

.fundicao-artistica{
	background-image: url(../img/fundo-loja-novo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 327px;
}
	.fundicao-artistica h5{
		max-width: 590px;
		margin: 0 auto;
		padding: 81px 10px;
		line-height: 58px;
		color: var(--dourado);
	}

.solicite-orcamento{
	background-color: #202020;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	padding: 67px 0;
}
	.solicite-orcamento h5{
		display: inline-block;
		text-transform: uppercase;
		font-size: 16px;
	}
	.solicite-orcamento a{
		color: #fff;
		border: 1px solid #fff;
		padding: 14px 50px;
		margin: 0 90px;
		text-decoration: none;
		display: inline-block;
	}

.titulo{
	text-transform: uppercase;
	font-size: 42px;
	text-align: center;
	color: var(--cinza-titulo);
}
.titulo-secundario{
	font-size: 31px;
	text-align: left;
	color: #2c2c2c;
}

.pg{

}
	.pg .informacoes-contato{
		max-width: 400px;
		margin: 0 0 0 auto;
	}
		.pg .informacoes-contato p{
			text-transform: capitalize;
		}
		.pg .informacoes-contato h4{
			margin: 0 0 17px;
			font-size: 24px;
			line-height: 33px;
		}
			.pg .informacoes-contato h4 a{

			}
		.pg .informacoes-contato a{

		}
			.pg .informacoes-contato a img{

			}
	.pg .formulario-contato{

	}
		.pg .formulario-contato form{

		}
			.pg .formulario-contato form input{

			}
			.pg .formulario-contato form textarea{

			}
			.pg .formulario-contato form input[type="submit"]{

			}

h1, h2, h3, h4, h5{
	font-family: var(--times);
	margin: 0;
}

p{
	font-family: var(--opensans);
	margin: 0;
	line-height: 23px;
	color: var(--cinza-titulo);
}

a{
	text-decoration: none;
	color: #000;
}
/* GERAL */


/* EXTRAS */
::-webkit-scrollbar{
  display: block;
  width: 10px;
  background-color: var(--cinza-claro);
}
::-webkit-scrollbar-button       { background-color: var(--dourado); }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { background-color: var(--dourado); }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }
/* EXTRAS */


/* MEDIA QUERY */
@media(max-width: 1200px){}
@media(max-width: 1035px){
	.solicite-orcamento a {
		margin: 0 10px;
	}
}
@media(max-width: 991px){
	footer .newsletter {
		max-width: 406px;
	}
}
@media(max-width: 875px){
	.solicite-orcamento a {
		margin: 0 auto;
	}
}
@media(max-width: 850px){
	.solicite-orcamento a {
		margin: 12px auto 0;
	}
	.solicite-orcamento {
		padding: 47px 0;
	}
}
@media(max-width: 768px){
	header .destaque, header .smaller-nav .smaller-nav-info {
		text-align: center;
		max-width: fit-content;
		margin: 0 auto;
	}
	header .destaque .titulo-destaque p {
		font-size: 16px;
	}
	.titulo {
		font-size: 36px;
	}
	header .destaque .titulo-destaque {
		padding: 55px 0;
	}
	header .destaque {
		height: 370px;
		max-width: 100%;
	}
	header .destaque .logo figure {
		max-width: 194px;
	}
	.pg-inicial .secao-acabamentos figure {
		margin: 0 auto;
	}
	.pg-inicial .secao-acabamentos .conteudo-acabamento ul {
		margin: 18px auto 12px;
	}
	.pg-inicial .secao-acabamentos .conteudo-acabamento {
		margin: 30px 0 15px;
	}
	footer {
		text-align: center;
	}
	footer .menu-footer {
		margin: 23px 0;
	}
	footer .newsletter {
		margin: 0 auto;
		width: 100%;
	}
	footer .newsletter form {
		text-align: center;
	}
	footer .newsletter form input[type="submit"] {
		margin: 30px 0 0;
	}
	.pg-inicial .secao-contato {
		padding: 20px 0;
	}
	.pg-inicial .secao-contato .formulario-contato form {
		max-width: 100%;
		padding: 0 10px;
		margin: 20px 0 0;
	}
	.pg .informacoes-contato {
		max-width: 100%;
		text-align: center;
	}
	header.header-mobile{
		display: block;
	}
	header.header-desktop{
		display: none;
	}
	header .logo figure {
		max-width: 213px;
	}
	header .logo {
		margin-top: 5px;
	}
	header .navbar {
		background-color: transparent;
		padding: 0;
	}
	header .navbar .navbar-header .navbar-collapse .navbar-nav li{
		display: block;
		margin: 5px 0;
	}
	header .navbar .navbar-header .navbar-collapse .navbar-nav li:hover{
		background-color: var(--dourado);
	}
	.pg-inicial .secao-brindes {
		margin: 46px 0 60px;
	}
	.pg-inicial .secao-brindes .lista-brindes {
		margin: 37px 0 0;
	}
	.pg-inicial .secao-empresa {
		margin: 40px 0;
	}
	.pg-inicial .secao-clientes {
		margin: 40px 0;
	}
	.pg-inicial .secao-clientes .lista-clientes {
		margin: 40px 0 0;
	}
	header .navbar .navbar-header .navbar-collapse .navbar-nav li a:hover, header .navbar .navbar-header .navbar-collapse .navbar-nav li a:focus{
		color: initial;
	}
}
@media(max-width: 600px){}
@media(max-width: 500px){
	header .destaque {
		height: 260px;
	}
	.titulo {
		font-size: 28px;
	}
	header .destaque .titulo-destaque p {
		font-size: 15px;
	}
	header .destaque .titulo-destaque {
		padding: 15px 0;
	}
	.fundicao-artistica h5 {
		line-height: 36px;
		padding: 61px 10px;
	}
	.fundicao-artistica {
		height: 237px;
	}
	.pg-inicial .secao-acabamentos .conteudo-acabamento ul li {
		font-size: 25px;
		max-width: 87px;
	}
	.pg-inicial .secao-acabamentos .conteudo-acabamento ul li img {
		max-width: 40px;
	}
}
@media(max-width: 485px){
	header .smaller-nav .smaller-nav-info::before{
		display: none;
	}
}
@media(max-width: 425px){
	.pg-inicial .secao-acabamentos .conteudo-acabamento p {
		font-size: 14px;
	}
	header .destaque {
		height: 140px;
	}
}
@media(max-width: 320px){}
/* MEDIA QUERY */