/* PÁGINA DE SUPORTE */

.pg-suporte{
	margin: 56px 0 0;
}
	.pg-suporte h2{
		margin: 0 0 58px;
		font-size: 30px;
	}
	.pg-suporte h4{
		font-family: var(--opensans);
		font-size: 14px;
		text-transform: uppercase;
		color: #7b7b7b;
		margin: 0 0 4px;
	}
	.pg-suporte p{
		font-size: 12px;
		line-height: 19px;
		margin: 0 0 18px;
	}
	.pg-suporte .solicite-orcamento{
		margin: 132px 0 0;
	}

/* MEDIA QUERY */
@media(max-width: 768px){
	.pg-suporte .solicite-orcamento {
		margin: 42px 0 0;
	}
}
/* MEDIA QUERY */